<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MVC Practice</title>
</head>

<body>
  <h1>Formulario</h1>
  <form action="/user/form" method="post">
    <p>Nombre</p>
    <input type="text" name="name" placeholder="Inserte su nombre">
    <p>Edad</p>
    <input type="number" name="age" placeholder="Inserte su edad">
    <button type="submit">Enviar</button>
  </form>
  <a href="/users"><button>Ver Todos</button></a>
</body>

</html>