<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MVC Practice</title>
</head>

<body>
  <h1>Práctica del patrón de diseño Modelo-Vista-Controlador con Express.js</h1>
  <p>Este es una prueba de un proyecto básico para desarrollar el patrón modelo vista controlador con Express.js</p>
  <p>De click al botón para ir al formulario</p>
  <form action="/user/form" method="get">
    <button type="submit">Ir</button>
  </form>
</body>

</html>